:root {
    --primary-color: darkblue;
    --secondary-color: #eee;
    --text-color: #333;
    --border-color: black;
    --shadow-color: gray;
    --main-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    /*1️⃣*/
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

main {
    max-width: var(--main-width);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}